<head>
  <title>Curriculum Vitae</title>
</head>


<body>
    {{> home}}
</body>


<template name="home">
<div class="content-wrapper">
<div class="content-wrapper-cell">
  <h1 id="curriculum-vitae-wijnand-van-deutekom">Curriculum Vitae - Wijnand van Deutekom</h1>
  <hr>
</div>
  {{> personalia}}

  {{> education}}

  {{> jobs}}

  {{> experience}}

  {{> projects}}

  {{> freetime}}

  {{> languages}}
</div>
<div class="my-custom-class-for-grid">
    <div class="my-custom-class-for-grid-cell">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, doloribus!
    </div>
    <div class="my-custom-class-for-grid-cell">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae!
    </div>
    <div class="my-custom-class-for-grid-cell">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto sed, rerum ratione at modi sunt!
    </div>
    <div class="my-custom-class-for-grid-cell">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, repellendus!
    </div>
    <div class="my-custom-class-for-grid-cell">
        Lorem ipsum dolor sit amet.
    </div>
    <div class="my-custom-class-for-grid-cell">
        Lorem ipsum dolor sit amet.
    </div>
    <div class="my-custom-class-for-grid-cell">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, repellendus!
    </div>
    <div class="my-custom-class-for-grid-cell">
        Lorem ipsum dolor sit amet.
    </div>
</div>
</template>

<template name="personalia">
<div class="content-wrapper-cell">
<h1 id="personalia">Personalia</h1>
<table>
<thead>
<tr>
<th></th>
<th style="text-align:right"></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Name</strong></td>
<td style="text-align:right">Wijnand van Deutekom</td>
</tr>
<tr>
<td><strong>Phone</strong></td>
<td style="text-align:right">0639330430</td>
</tr>
<tr>
<td><strong>Date of Birth</strong></td>
<td style="text-align:right">21 December 1989</td>
</tr>
<tr>
<td><strong>City</strong></td>
<td style="text-align:right">Leiden</td>
</tr>
</tbody>
</table>
</div>
</template>

<template name="education">
<div class="content-wrapper-cell">
  <h1 id="education">Education</h1>
  <ul>
    <li>Leiden University of Applied Sciences; Bachelor of ICT - <em>Sep 2008 - Sep 2012</em></li>
  </ul>
</div>
</template>

<template name="jobs">
<div class="content-wrapper-cell">
  <h1 id="jobs-so-far">Jobs</h1>
  <ul>
    <li>Evalytics: iOS developer &amp; DevOps engineer - <em>june 2013 - june 2015</em></li>
    <li>Zerok: iOS developer - <em>july 2012 - jan 2015</em></li>
    <li>Q42: Internship, web developer <em>feb 2012 - july 2012</em></li>
    <li>Studio Projectie: iOS Developer <em>july 2011 - feb 2012</em></li>
    <li>Studio Projectie: Internship, iOS developer <em>feb 2011 - july 2011</em></li>
  </ul>
</div>
</template>

<template name="experience">
<div class="content-wrapper-cell">
<h1 id="experience">Experience</h1>
<ul>
<li><strong>Programming/scripting languages</strong>: * Objective-c, Javascript, Bash, Java, Python, HTML5/CSS3</li>
<li><strong>Tools</strong>: Git, SVN, MySQL, SQL and a course on Oracle SQL in university</li>
<li><strong>Setting up and mantaining</strong>: Docker, Elasticsearch, Beanstalk, Loggly, Apache, supervisor</li>
<li><strong>?deployment with Envoyer?*</strong></li>
<li><strong>?FreeBSD, Puppet?</strong></li>
</ul>
</div>
</template>

<template name="projects">
<div class="content-wrapper-cell">
<h1 id="projects">Projects</h1>
<h2 id="evalytics-b-v-">Evalytics B.V.</h2>
<p>A company focussed on delivering student-to-teacher review SaaS for universities all across the Netherlands. This review software enables students to review their teachers, courses and exams throughout the year using either the iOS, Android or web application. As co-founder and employee at Evalytics I was jointly responsible (together with my other two co-founders) for decision making concerning (web/mobile) development, marketing, finding new avenues for acquisition and, as iOS developer,  responsible for the development of the iPhone application. In my time at this company I&#39;ve broadened my technical expertise while aiming towards the DevOps side of company by researching and implementing new techniques and tools to help colleagues develop more efficiently. A few highlights of my time at Evalytics:</p>
<ul>
<li>Docker; Converting current development &amp; hosting infrastructure to Docker for Evalytics B.V., DigitaleFactuur B.V. and Trix-incasso B.V. Including workshops on proper use/best practices of the Docker engine.</li>
<li>Developed the Evalytics iPhone application.</li>
<li>Git; Introduced Git and converted current version control system (SVN), given workshops to employees on best practices.</li>
<li>Given product presentations for customer acquisition and student/teacher lectures on best practices of the Evalytics SaaS.</li>
</ul>
<h2 id="zerok-v-o-f-">Zerok V.O.F.</h2>
<p>A mobile development company started as a joint venture together with my classmate Dennis Wagenaar, Studio Projectie B.V. and myself. During my time here my focus lay primarily on the iOS development, gained experience with customer acquisition and customer relations. A short list of my projects at Zerok:</p>
<ul>
<li><strong>Gibbon.co</strong>; Worked together with the Gibbon team on the development of the iPhone and iPad application that can be used to share knowledge in- and outside of companies that purchased this SaaS.</li>
<li><strong>El Cid</strong>; Every year the universities in Leiden organize a introduction week for new students to get to know eatch other. I developed the iPhone application that facilitated this week in letting to know students where activities were taking place.</li>
<li><strong>Vensters voor Bedrijfsvoering</strong>; An initiative by ICTU to get a better view of the operational management of municipalities throughout the country. It enables managers of municipalities that use this software system to view, already existing, statistics on demand using an iPad application. Figures on finance, civil service, overhead, hiring, human resources management, flexibility, durability and for example the ICT cost and quality and many more are available for review in this iPad application. After working closely with ICTU to map expectations and demands I created the iPad application and maintained it for over 2 years.</li>
<li><strong>Executive Health Management</strong>; A medical health examination company providing medical care to top executives and managers of large companies. I created an iPhone application in which the customer can communicate with his/her physician and check on progress of medical examinations.</li>
<li><strong>Digitalefactuur B.V.</strong>; My previous iPhone app version for DigitaleFactuur, which I created in my time at Studio Projectie, was in the AppStore for almost a year. It needed an overhaul and after getting to know the wishes/demands I refactored and fixed bugs and added features to the application.</li>
<li><strong>Coastwatch</strong>; A non-profit organization that promotes the health of and preservation of the North Sea by, amongst other things, sending groups of high school students with a fun and educational checklist to map out the polution along the shoreline. I created the iPhone application that replaces this checklist and makes it a more interactive experience. </li>
<li><strong>ShopApp</strong>; As an small dream of our own, creating our own mobile app that could be successful in the dutch (app)marketplace, we created the ShopApp. Trough this mobile app users were able to see any discounts of local stores in the immediate vicinity on the interactive map. I created the iPhone application and together with Dennis Wagenaar and Studio Projectie we were responsible for the direction and project management.</li>
</ul>
<h2 id="q42">Q42</h2>
<p>A successful web and mobile development company in The Hague with around 40 employees. During my graduation internship at Q42 I researched wether it could be possible to recreate a true native app-experience within web browsers on smart phones. This included theoretical research, interviews with employees (after all, what <em>is</em> a native experience?) and development using HTML5, CCS3 animations and Javacript. In short:</p>
<ul>
<li>HTML5 &amp; CSS3</li>
<li>Javascript, jQuery, Zepto, Xui</li>
</ul>
<h2 id="studio-projectie-b-v-">Studio Projectie B.V.</h2>
<p>My first internship was at a webdevelopment company called Studio Projectie. They had a SaaS product of their own (which later grew into a seperate company) that needed an iPhone application. Here I learned to develop for iOS using Objective-c and delivered an iPhone application. After my internship I continued to work here to further improve the iOS app until my graduation internship at Q42. In short:</p>
<ul>
<li>UML</li>
<li>Xcode</li>
<li>Objective -c</li>
</ul>
</div>
</template>

<template name="freetime">
<div class="content-wrapper-cell">
<h1 id="free-time">Free time</h1>
<p>I love to read books, watch movies and tv shows. Going out for a run or going to the University Sports Centre a few times a week clears my mind. <strong>?something HTPC ubuntu, tweaking, greyhole, docker, unix?*</strong></p>
</div>
</template>

<template name="languages">
<div class="content-wrapper-cell">
<h1 id="spoken-written-languages">Spoken &amp; written languages</h1>
<ul>
<li>Dutch (native)</li>
<li>English </li>
<li>Basic understanding of German and French</li>
</ul>

</div>
</template>
