@import 's-grid-settings'

// my new settings goes here:

// s-grid imports:
@import 's-grid-functions'
@import 's-grid-classes'


base-font-size = 16px            // base font size it is 16px by default it is used to calculate rem sizes


/* functions */
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

/* Set some basic rules */
body
    font base-font-size/1.6 "Sourc Sans Po", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color #333
    background #34495e

.my-custom-class-for-grid
    grid()
    .my-custom-class-for-grid-cell
        margin 25px
        background #fff
        padding 25px
        cell(1, 1)
        +above(rem-calc(breakpoints[md]))
            cell(1, 2)
        +above(rem-calc(breakpoints[lg]))
            cell(1, 3)
        +above(rem-calc(breakpoints[xlg]))
            cell(1, 4)
        +above(rem-calc(breakpoints[xxlg]))
            cell(1, 6)

.content-wrapper
    width 80%
    max-width 70rem
    margin-left auto
    margin-right auto
    margin-top 20px
    margin-bottom 20px
    background #ecf0f1
    .content-wrapper-personalia
        grid('row')
        .content-wrapper-personalia-col
            cell(1, 2)
            padding 20px 50px
            margin 0px
    .content-wrapper-cell
        cell(1, 1)
        padding 20px 50px
        margin 0px

ul
    padding: 10px 10px 10px 25px;
    

