@import 's-grid-settings'

// my new settings goes here:

// s-grid imports:
@import 's-grid-functions'
@import 's-grid-classes'


base-font-size = 16px            // base font size it is 16px by default it is used to calculate rem sizes


/* functions */
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

/* Set some basic rules */
body
    font base-font-size/1.6 'Open Sans', sans-serif;
    color #333
    background #34495e

.content-wrapper
    max-width 80rem
    margin-left auto
    margin-right auto
    padding-top 20px
    padding-bottom 20px
    background #ecf0f1
    .content-wrapper-personalia
        grid('row', 'top')
    .content-wrapper-cell
        cell(1, 1)
        padding 20px 50px
        margin 0px

.content-wrapper-grid
    grid('row')

.content-wrapper-col11
    cell(1, 1, 'top', 0px)
    padding 20px 50px
    margin 0px
    background #7FD08F
.content-wrapper-col14
    cell(1, 3, 'top', 0px)
    padding 20px 50px
    margin 0px
    background #553250
.content-wrapper-col12
    cell(1, 2, 'top', 0px)
    padding 20px 50px
    margin 0px
    background #4BB851

ul
    padding: 10px 10px 10px 25px;

.personalia-image
    border-radius(5px)
    width 150px
    height 150px
