@import 's-grid-settings'

// my new settings goes here:

// s-grid imports:
@import 's-grid-functions'
@import 's-grid-classes'


base-font-size = 16px            // base font size it is 16px by default it is used to calculate rem sizes


/* functions */
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

/* Set some basic rules */
body
    font base-font-size/1.6 "Sourc Sans Po", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color #333
    background #34495e

.content-wrapper
    width 80%
    max-width 70rem
    margin-left auto
    margin-right auto
    padding-top 20px
    padding-bottom 20px
    background #ecf0f1
    .content-wrapper-personalia
        grid('row', 'top')
        .content-wrapper-personalia-col
            cell(1, 2)
            padding 20px 50px
            margin 0px
    .content-wrapper-cell
        cell(1, 1)
        padding 20px 50px
        margin 0px

ul
    padding: 10px 10px 10px 25px;
    
.personalia-image
    border-radius(5px)
    width 200px
    height 200px
